name: test-integration

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up solr configsets
      run: test/solr/generate_ncbo_configsets.sh
    - name: set up config.rb 
      run: cp config/config.rb.docker config/config.rb
    - name: Build docker-compose
      run: docker-compose build
    - name: Run unit tests
      run: docker-compose up --exit-code-from ont-ld
